# latex output files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.run.xml
*.toc

# macOS indexing
.DS_Store

# compilation files
*.dep
lnInclude

# binaries
**/Make/*
!**/Make/files
!**/Make/options

# temporaries
*.swp
*~

# case stuff
**/processor[0-9]*
**/[0-9]*
**/polyMesh
**/cellDecomposition
**/cellDist
*.foam
log.*

# random resources
vagrant
